body {
    background-color: wheat !important;;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'SF Mono', sans-serif !important;
    /* font-family: 'SF Mono' !important; */

    width: 100vw;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    /* border: 2.5px solid black; */
}

@media (min-width: 700px) {

    .main p {
        font-size: 30px;
    }

    .popup {
        width: 450px;
        height: 350px;
    }

    .popup p {
        font-size: 30px;
    }
}

@media (max-width: 700px) {

    .main p {
        font-size: 22px;
        text-align: center;
        margin: 0px 30px;
    }

    .popup {
        width: 330px;
        height: 330px;
    }

    .popup p {
        font-size: 25px;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 25px;
    width: 100px;
    height: 60px;
    
    margin: auto 40px;
    /* margin: auto; */
    
    border-radius: 10px;
    border: 2px solid black;

}

.button-area {
    display: flex;
    height: 150px;
    /* width: 600px; */
    width: 100vw;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    
    /* border: 1px solid black; */
}

.gif {
    width: 130px;
    height: 130px;
    animation: playSpriteAnimation 2s steps(19) infinite;
}

#gif-popup {
    width: 130px;
    height: 130px;
    animation: playSpriteAnimation 2s steps(19) infinite;

    
    
    
}

@keyframes playSpriteAnimation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2470px 0; /* Điều chỉnh -1000px tùy thuộc vào kích thước và số lượng hình ảnh trong sprite */
    }
}

.main p {
    font-weight: bold;
}

.popup p {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.popup {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;

    z-index: 1;
    

    border: 1px solid black;
    border-radius: 20px;
    position: fixed;
    background-color: rgb(166, 234, 255);
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;

}